six
google-api-python-client
google-cloud-bigquery
kaggle
numpy
pandas
psutil
py-cpuinfo
scipy
tensorflow-hub
tensorflow-model-optimization
tensorflow-datasets
tensorflow
dataclasses
gin-config
tf_slim
sentencepiece
Cython
matplotlib
opencv-python-headless
pyyaml
Pillow
